.container{
    width:900px ;
    position: relative;
    margin: 0 auto;
    background-image: url(../images/background.png);
    background-size: 100%;
    
}
.MainContent{
    position: relative;
    top:30px;
}
 .secondRow button{
    width: 120px;
    height: 70px;
    border: none;
}
 .firstRow button{
    width: 120px;
    height: 30px;
    border: none;
}
.lang{
    border: none;
    background-color: rgb(230, 230, 230);
    width:80px ;
    height: 30px ;

}
.Sort {
    top:10%;
    left:10%;
   text-align: left;
   position: relative;
}
.View{
    top:10%;
    left:25%;
    position: relative;
    text-align: left;
}
.notActive{
    
    background-color: white;
}
.active{
    background-color: rgb(230, 230, 230);
}

.Row{
    width: 900px;
    height: 140px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'F S';
   
}
.firstRow{
    grid-area: F;
}
.secondRow{
    grid-area: S;
    
}
.thirdRow{
   display: inline-flex;
    position: absolute;
    top:-1em;
    right: 15%;
}
.thirdRow img {
    position: relative;
    top:0.15em;
    left: 0.3em;
    width: 25px;
    height: 25px;
}

.lastRow{
    position: absolute;
   top:-1em;
    right: 2%;
}


.Params{
    margin-top: 10px;
}
.Params button {
    width: 180px;
}
.table{
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px 2px;
  
}
TR {
    padding: 3px; 
    border: 0.1px solid black; 
   }
 .imgcontainer{
     width: 100%;
     height: 100%;
 }
 .imgcontainer img {
     width: 60px;
     height: 60px;
 }
 .first{
     width: 100px;
 }

 .second{
     width: 150px;
     float: left;
 }
 .td{
     width: 100px;
 }
 .third{
     width: 60px;
 }
 tbody{
    background-color: white;
}
.last{
    width: 20px;
    height: 20px;
} 
.last img{
    height: 15px;
}
.Container{
    position: relative;
    left:5%;
    
    width: 810px;
   display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    
    text-align: left;
  
    
}
.MainTable{
    animation: Opacity 3s;
}

@keyframes Opacity {   
  0% {     
    opacity: 0;  
  }   
  50% {     
   opacity: 0.5;   
  } 
  100% {
   opacity: 1;
   }
}
.video{
   position: absolute;
   width: 400px;
    height: 100%;
    right: 0%;
    top:0%;
}
.video video{
    width: 100%;
    height: 100%;
}
.player{
    width: 100%;
    height: 100%;
    position: relative;
   
    
}
.Small{
    grid-area: S;
    width: 400px;
    height: 230px;
    box-shadow: 0 0 5px 2px;
    position: relative;
    background-color: white;
   margin-top: 10px;
 
   animation: Opacity 3s;
   
}
.Big{
    grid-area: B;
    width: 810px;
    height: 230px;
    box-shadow: 0 0 5px 2px;
    position: relative;
    background-color: white;
    animation: Opacity 3s;
    margin-top: 10px;
  
}

.img img{
    width: 50px;
    height: 50px;
}
.name{
    position: relative;
    top: -1em;
    left:1em;

}

.age{
    position: relative;
    top:0.5em;
    color: rgb(176, 176, 176);
}
.phone{
    position: relative;
    top:1.3em;
}
.phrase{
    position: relative;
    width: 70%;
    top:2em;
}
.star{
    position: relative;
    float: right;
    right: 2em;
    top:40%;
    
}
.content{
    position: absolute;
    left:1em;
    top:1em;
    width: 400px;
}
